@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero_headings {
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Bruno Ace";
  color: white;
}

.hero_headings h1 {
  font-size: 90px;
  letter-spacing: 40px;
}
.hero_headings h2 {
  font-size: 25px;
  letter-spacing: 8px;
}

@media (max-width: 768px) {
  .hero_headings h1 {
    font-size: 50px;
    letter-spacing: 20px;
  }
  .hero_headings h2 {
    font-size: 20px;
    letter-spacing: 5px;
  }
}
