.aboutSection {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 0;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}

.aboutHeading {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  height: fit-content;
  width: fit-content;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  overflow: hidden;
}

.aboutHeading h1 {
  margin: 0;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: #ef4444;
  font-family: "Bruno Ace";
}

.textSection {
  width: 100%;
  overflow: hidden;
  text-align: justify;
  padding: 0 2.5rem 0 2.5rem;
}
.textSection p {
  color: white;
  font-size: 2rem;
  line-height: 2rem;
}

.ImageSection {
  /* top | right | bottom | left */
  padding: 2.5rem 0 2.5rem 0;
}

@media (min-width: 768px) {
  .aboutHeading h1 {
    flex-direction: column;
    font-size: 4rem;
    letter-spacing: 0.5rem;
  }
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .textSection p {
    font-size: 1rem;
  }
}
