@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Quicksand:wght@300;400;500;600;700&family=Silkscreen&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  background-clip: padding-box;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(50%);
  -webkit-backdrop-filter: blur(20px);
  -webkit-backdrop-brightness: 40%;
}

.navbarlogoContainer {
  z-index: 50;
  padding: 1.5rem 1rem;
}

.navbarlogoContainer img {
  width: 3rem;
  height: 3rem;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.navbarBurgerContainer {
  right: 10px;
  z-index: 50;
  padding: 1rem;
}

.navbar nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: 70%;
  -webkit-backdrop-filter: blur(50px);
  -webkit-backdrop-brightness: 10%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  margin-right: 1rem;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Quicksand", monospace;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.menu li a:hover {
  color: rgb(4, 213, 213);
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 992px) {
  .navbar nav {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar nav {
    justify-content: flex-start;
  }
}
