.footer {
  width: 100%;
  height: 40vh;
  background-color: #181818;
  border-top-left-radius: 130px;
}
.footerContainer {
  display: flex;
}

.raedyFooterIcon {
  height: 16rem;
  width: 16rem;
  padding-left: 3rem;
  padding-top: 3rem;
}

.col {
  flex-basis: 25%;
  padding: 3rem;
  margin-left: 3rem;
}

.col:nth-child(5) {
  flex-basis: 22%;
}

.col h3 {
  width: fit-content;
  color: white;
  margin-bottom: 2rem;
  position: relative;
}

ul li {
  list-style: none;
  margin-bottom: 0.5rem;
}

ul li a {
  text-decoration: none;
  color: white;
}

.socialIcons {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-right: 1.5rem;
}

hr {
  width: 97%;
  margin: auto;
  border-bottom: 1px solid;
}

.copyright {
  padding-top: 1rem;
  text-align: center;
  color: gray;
}

.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 4px;
  position: absolute;
  left: 0;
  overflow: hidden;
  margin-top: 5px;
}

.underline span {
  width: 1rem;
  height: 100%;
  background: white;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
