* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

img,
picture,
canvas,
video {
  display: block;
  max-width: 100%;
}

/* Disable zooming on mobile devices */
@viewport {
  width: device-width;
  zoom: 1;
}

@media only screen and (orientation: landscape) {
  /* CSS rules to hide the specific content go here */

  .section {
    min-height: 100vh;
  }
}

html,
body {
  overflow-x: hidden;
  font-family: "Quicksand", monospace;
  background: #000;
}

main {
  min-height: 100vh;
}

section {
  min-height: calc(100vh - 200px);
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
}

/* remove zoom on double tap on iphone */
@media (pointer: coarse) and (hover: none) {
  *:hover {
    cursor: pointer;
  }
}

/* section divider */
.sectionDivider {
  display: flex;
  height: 0.25rem;
  max-width: 20rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 5.5rem 2rem 2rem 2rem;
  background-image: linear-gradient(to right, #f5460b, #ec4848);
  border-radius: 0.375rem;
}

@media (min-width: 768px) {
  .sectionDivider {
    margin-left: auto;
    margin-right: auto;
  }
}
